/* 
author: @esra'aEid
github:  @EsraaEid2
email: esraa.eidd2@gmail.com
date: 2024-09-21
project: portfolio
*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

:root {
    --main-color: #A594F9;
    --secondery-color: #CDC1FF;
    --text-color: black;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive, Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal overflow */

}

.website-container {
    display: grid;
    row-gap: 150px;
    grid-template-areas:
        'head head'
        'skills skills '
        'highlightt highlightt'
        'project project'
        'footer footer';
    background-image: linear-gradient(#E5D9F2, #F5EFFF, #ffff);
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1,
h2 {
    text-decoration: none;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 40px;
}

/*----hero----*/

.hero-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.hero-section p {
    font-size: 1.15em;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}

.hero-section .image img {
    margin-top: -250px;
    width: 750px;
    height: 500px;
}

.resumeImg {
    position: absolute;
    width: 325px;
    height: 250px;
}

.hero-container {
    grid-area: head;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto-fill);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin-bottom: 60px;
    background-size: cover;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

/*----nav----*/

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 0 2px;
}

.nav ul li {
    display: inline-block;
    margin: 0 30px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 500;
}

.nav ul li a:hover {
    cursor: pointer;
    color: var(--main-color);
}

/*----skill-----*/

.skills {
    grid-area: skills;

}

.skills div h2 {
    text-align: center;
    line-height: 1.15;
    margin-bottom: 1.5rem;
}

#skills-container,
#Highlight-section,
#projects-section {
    width: 80%;
    margin: auto;
    padding: 2rem;
}

.image-coding {
    width: 200px;
    height: auto;
    margin-right: 2rem;
}

.ulstyle1 li {
    list-style-type: none;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ulstyle1,
.ulstyle2 {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.ulstyle1 .skill {
    background-color: var(--secondery-color);
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 15px 50px;
    width: 300px;
    height: 100px;
    box-shadow: 0px 0px 20px 0px var(--main-color);
    transition: box-shadow 0.3s ease;
}

.skill:hover {
    box-shadow: 0px 0px 30px 10px var(--main-color);
}

/*----highlight----*/

.highlight-grid {
    grid-area: highlightt;
}

.Highlight {
    background-color: var(--secondery-color);
    text-align: center;
    align-content: center;
    margin: 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 15px 50px;
    box-shadow: 0px 0px 20px 0px var(--main-color);
    transition: box-shadow 0.3s ease;
}

.Highlight:hover {
    box-shadow: 0px 0px 30px 10px var(--main-color);
}

.ulstyle2 {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

/*---footer----*/

#emailIcon,
#githubIcon {
    width: 50px;
    height: 50px;
    float: left;
    transition: transform 0.3s ease;
}

#linkedIcon {
    width: 70px;
    height: 50px;
    float: left;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

#emailIcon,
#linkedIcon,
#bigestText:hover {
    transform: scale(1.1);
}

#bigestText {
    padding: 40px;
    color: var(--main-color);
    text-align: center;
    transition: transform 0.3s ease;
    font-size: 4.5em;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    margin-bottom: -27px;
    width: 100%;
    background-color: #E5D9F2;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.IconsDiv a {
    display: inline;
    justify-content: center;
    margin: 30px 0px;

}

.project-grid {
    grid-area: project;
}



@media(max-width:768px) {

    .highlight-grid,
    #skills-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .ulstyle1{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }
    .ulstyle2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Highlight {
        width: 30%;
        margin: 10px;
    }
}

@media(max-width:480px) {

    .hero-section .nav {
        flex-direction: column;
        justify-content: center;
    }

    .hero-section .text {
        width: 80%;
    }

}